/* Main Theme Colors */
/* #412f81 - Dark Purple */
/* #a768a3 - Magenta*/
/* #dbc48f - Khaki / Gold*/
/* #fefbf4 - Cream*/
/* #faf1ef - Peach */

/* Purple Box Theme */

.info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh; /* This will center vertically. Remove if not needed */
  width: 50%; /* This will center horizontally. Remove if not needed */
  background-color: #412f81;
  color: white;
  border-radius: 20px; /* Add this line */
}

/* Buttons */

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Josefin Sans", sans-serif;
  margin-top: 20px; /* Add some space above the buttons */
  color: #a768a3;
  font-size: 20px;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Josefin Sans", sans-serif;
  margin-top: 20px; /* Add some space above the buttons */
  color: #a768a3;
  font-size: 20px;
}

.button-container button {
  width: 250px; /* Adjust as needed */
  height: 75px; /* Adjust as needed */
}

button {
  background-color: #a768a3;
  color: #faf1ef;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #7a4b7f;
}

#whitebutton {
  background-color: white;
  color: #7A4B7F;
}

#whitebutton:hover {
  background-color: #5A2D5C;
  color: white;
}

/* Body */

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  background-color: #faf1ef;
  font-family: "Josefin Sans", sans-serif;
}

#bodymiddle {
  display: flex;
  justify-content: center;
  align-items: center; /* Add this line */
  flex-direction: column;
  margin: 0;
  background-color: #faf1ef;
  font-family: "Josefin Sans", sans-serif;
  padding-top: 100px;
  padding-bottom: 100px;
}

/* Forms */

.input-container {
  display: flex;
  font-family: "Josefin Sans", sans-serif;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px; /* Add some space above the buttons */
  color: #a768a3;
  font-size: 20px;
}

form input[type="text"] {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background-color: #faf1ef;
  color: #a768a3;
  font-size: 14px;
  width: 100%;
  text-align: center;
}

form input[type="password"] {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background-color: #faf1ef;
  color: #a768a3;
  font-size: 14px;
  width: 100%;
  text-align: center;
}

form input[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background-color: #a768a3;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

form input[type="number"] {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background-color: #a768a3;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  height: 50px;
  margin-bottom: 20px;
}

form input[type="date"] {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background-color: #a768a3;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  height: 50px;
  margin-bottom: 10px;
}

form input[type="submit"]:hover {
  background-color: #7a4b7f;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#formh {
  display: flex;
  flex-direction: row; /* add this line */
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

#formh input {
  margin-left: 5px; /* Add a value here */
  margin-right: 5px;
  border-radius: 10;
}
/* Header */

#Header {
  background-color: #412f81; /* replace with the color of your info box */
  width: 100%;
  height: 15%;
  position: fixed;
  top: 0;
  z-index: 100; /* to ensure the header stays on top of other elements */
  display: flex;
  justify-content: space-evenly;
  align-items: center; /* optional, to align items vertically */
}

/* Footer */

#footer {
  margin-top: auto;
  display: flex;
  justify-content: space-around;
  background-color: #412f81;
  color: #faf1ef;
  width: 100%;
  padding: 0 20px;
}

#footer a {
  color: #faf1ef; /* This will make the hyperlink color the same as the footer text color */
  text-decoration: none; /* This will remove the underline */
}

#footer1,
#footer2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

#footer1 p,
#footer2 p {
  line-height: 0.5; /* Adjust this value as needed */
}

#footer4 {
  display: flex;
  flex-direction: column; /* Add this line */
  align-items: center; /* Add this line to center the items */
  justify-content: center;
  background-color: #412f81;
  color: #faf1ef;
  padding-top: 20px;
  width: 100%;
}
/* Grid */

.grid-container {
  position: relative;
  top: auto;
  bottom: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.grid-container figure img {
  width: 300px;
  height: 250px; /* Or whatever height you want */
  object-fit: cover; /* This will crop the images to cover the box */
  border-radius: 20px; /* Add this line */
}

.grid-container figure figcaption {
  color: #7a4b7f; /* Change this to match your theme's text color */
  font-family: "Josefin Sans", sans-serif;
  text-align: center; /* Center the text */
  line-height: 0.5; /* Adjust this value as needed */
  font-size: medium;
}

.grid-container h1 {
  color: black;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}

/* Figures */

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

figure button {
  margin-left: auto;
  margin-right: auto;
}

/* Navigation */
#nav-menu {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  border-radius: 10px;
  background-color: #dbc48f;
  display: none;
  position: absolute;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  top: 50px;
  right: 0px; /* Change this line */
  position: right;
}

#nav-menu a {
  display: block;
  margin-bottom: 10px;
}

#nav-menu a:hover {
  color: #7a4b7f;
}

#nav-menu button {
  width: 200px;
  height: 50px;
}

/* Details */
#details {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligns items to the start of the cross axis (top for column direction) */
  background-color: #faf1ef;
  border-radius: 20px;
  width: 55vw;
  height: fit-content; /* This will make the height equal to the content height */
  margin-left: 10%; /* Add this line */
  margin-bottom: 30px;
  color: #412f81;
  font-size: 10px;
}

.appbox {
  display: flex;
  flex-direction: column;
  height: auto; /* This will make the height equal to 100% of the viewport height */
  width: 70vw; /* This will center horizontally. Remove if not needed */
  background-color: #412f81;
  color: white;
  border-radius: 20px; /* Add this line */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 125px;
}
.appbox .profile h2 {
  padding-left: 10%;
  padding-top: 20px;
}

#details p {
  padding-left: 5%;
  font-size: 20px;
}

#edit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.refundcontainer {
  display: flex;
  width: 90%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 60px;
  background-color: #fefbf4;
  margin-bottom: 20px;
  border-radius: 20px;
}

#profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #fefbf4;
  border-radius: 20px;
  border-color: #dbc48f;
  border-style: solid;
}

/*profile h1 and p*/

#profile p {
  margin-bottom: auto; /* Adjust this value as needed */
}

#propertyimage {
  display: flex;
  margin: 20px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
}

#propertyimage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

#propertyimage b {
  font-size: 30px;
  margin-bottom: 20px;
  padding-right: 40px;
}

#propertyimage p {
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 1;
  text-align: justify;
  padding-right: 40px;
}

#propertyimage li {
  font-size: 20px;
  margin-bottom: 20px;
  padding-right: 40px;
}

#bookingbox {
  background-color: #fefbf4;
  width: 40%;
  height: 65vh;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 20px;
  margin-left: 20px;
  border-style: solid;
  border-color: #dbc48f;
  border-width: 5px;
  display: flex; /* Add this line */
  flex-direction: column; /* Add this line */
  align-items: center;
  justify-content: center; /* Optional: This will center the items vertically */
}

#paymentbox {
  margin-bottom: 5%;
  height: fit-content;
  background-color: #fefbf4;
  width: 60%;
  height: 120vh;
  border-radius: 20px;
  overflow: hidden;
  border-style: solid;
  border-color: #dbc48f;
  border-width: 5px;
  display: flex; /* Add this line */
  flex-direction: column; /* Add this line */
  align-items: center;
  align-self: center;
  justify-content: center; /* Optional: This will center the items vertically */
}

#guest::placeholder {
  color: white;
}

#info{
  text-align: justify;
  margin-top: 150px;
  justify-content: center;
  text-align: center; 
  padding-left: 20%; 
  padding-right: 20%;
  padding-bottom: 50px;
}

#info h1{
  font-size: 50px;
}

#info h2{
  font-size: 40px;
}

#info p, li{
  font-size: 20px;
  line-height: 1.5;
}
